<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All students</title>
</head>
<body>
    {% for i in data %}
    <ul>
       {{ i.admission_number }}
    </ul>
    {% endfor %}
<p>Test</p>
</body>
</html>