
<h2>Person Form</h2>

  <form method="post" action="{% url 'student_list/' %}" id="studentprofileform" data-cities-url="{% url 'ajax_get_divisions' %}" novalidate>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit">Save</button>
  </form>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_klass").change(function () {
      var url = $("#studentprofileform").attr("data-cities-url");  // get the url of the `load_cities` view
      var klassId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'klass': klassId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_division").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>