<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
<tr>
    <th>Firstname</th>
    <th>Lastname</th>
     <th>Approve</th>
     <th>Deny</th>
</tr>

<tr>
    {% for i in sp %}
        {% if i.status == '0' %}

        <td>{{ i.first_name }}</td>
        <td>{{ i.second_name }}</td>
        <td><button type="button"> <a href="{% url 'approvel' %}?id={{i.id}}" >Approve</a></button></td>
        <td><button type="button"><a href="{% url 'denial' %}?id={{i.id}}" >Deny</a></button></td>
    </tr>
        {% endif %}
    {% endfor %}
</table>

</body>
</html>